* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #e1f3d9, #3093e4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
